*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Questrial', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: #000;
    padding: 0 50px;
}
#nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    border-bottom: 2px solid #dadada;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part2{
    display: flex;
    gap: 50px;
    padding-right: 250px;
}
#nav-part2 h3{
    font-weight: 300;
    font-size: 17px;
}
#nav h4{
    font-weight: 300;
    font-size: 17px;
}
#container{
    height: 75%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    margin-top: 70px;
}
#left{
    height: 100%;
    width: 50%;
    padding: 0 10px 100px ;
    z-index: 11;
    /* background-color: red; */
}
#left h1{
    font-size: 100px;
    font-weight: 400;
    line-height: 120px;
    padding-bottom: 50px;
}
#left-1{
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}
#left-1 h3{
    font-weight: 300;
    font-size: 25px;
    width: 55%;
}
#right{
    height: 100%;
    width: 50%;
    /* background-color: blue; */
    position: relative;
    z-index: 10;
    overflow: hidden;
}
#right img{
    height: 100%;
    width: 90%;
    object-fit: cover;
    position: relative;
    left: 72px;
    border-radius: 20px;
    
}
#page2{
    height: 85%;
    width: 100%;
    background-color: #000;
    padding: 0 50px;
    padding-top: 180px;
    display: flex;
}
#page2-left{
    height: 55vh;
    width: 25%;
    /* background-color: red; */
}
#page2-right{
    height: 55vh;
    width: 75%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}
.icon{
    display: flex;
    gap: 20px;
    align-items: center;
}
.rounded-img img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: -60px;
}
.rounded-img img:nth-child(1){
    margin-left: 0;
}
#page2-left div i{
    padding: 15px 5px 0 20px;
}
#page2-left div p{
    width: 40%;
    font-size: 20px;
    margin-top: 10px;
}
#page2-left-btn{
    margin-top: 130px;
}
#page2-left-btn button{
    font-size: 20px;
    padding: 15px 25px;
    background-color: transparent;
    border:1px solid white ;
    border-radius: 30px;
    margin: 7px;
}
#page2-right img{   
    height: 100%;
    width: 31%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: #dadada;
}
.image-right:hover{
    transform: scale(1.1);
}